
.custom-nav-link {
  background-color: lightgray;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.custom-nav-link.active {
  background-color: rgb(135, 135, 135);
  color: white;
  font-weight: bold;
}
.nav-icon {
  transition: color 0.3s; /* กำหนดการเปลี่ยนสีเป็น transition ให้ไอคอนเลื่อนสีอย่างช้าๆ */
}

.nav-link.active .nav-icon {
  color: rgb(169, 32, 178); /* กำหนดสีที่ต้องการเมื่อไอคอนถูกเลือก */
}
.nav-text {
  font-size: 12px; /* ปรับขนาดตัวหนังสือตามที่คุณต้องการ */
  text-transform: uppercase; /* ส่วนนี้จะทำให้ตัวหนังสือใหญ่ทั้งหมด */
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px; /* ปรับขนาดตัวหนังสือตามที่คุณต้องการ */
  margin-top: 5px; /* ปรับระยะห่างระหว่างไอคอนและตัวหนังสือตามที่คุณต้องการ */
}

.agreement-text {
  display: block;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 10px;
}
.agreement-color {
  background-color: #5d246c;
  border-radius: 10px;
  color: white;
}

/* สีสำหรับสถานะ 'confirmed' */
.status-confirmed {
  color: green;
}

/* สีสำหรับสถานะ 'pending' */
.status-pending {
  color: orange;
}

/* สีสำหรับสถานะ 'cancelled' */
.status-cancelled {
  color: red;
}

body {
  background-image: url("./images/purple.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5); /* ใช้ rgba() เพื่อเพิ่มความโปร่งใสให้กับพื้นหลัง */
}
/* Style for the date picker */
.date-picker {
  appearance: none;
  background-color: white;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
}
